

/* Slideshow */

.slideshow {
  height: 600px;
  margin: 0 0 0 0;
}




slider {
 display: block;
 width: 100%;
 height: 600px;
 background-color: #1f1f1f;
 overflow: hidden;
 position: absolute;
}

slider > * {
 position: absolute;
 display: block;
 width: 100%;
 height: 600px;
 background: #1f1f1f;
 animation: slide 30s infinite;
 overflow: inherit;
}

slide:nth-child(1){
 left: 0%;
 animation-delay: -1s;
 background-image: url("Horsham-4.jpg");
 background-size: cover;
 background-position: center;
}

slide:nth-child(2){
  left: 100%;
 animation-delay: 6.5s;
 background-image: url("Horsham-5.jpg");
 background-size: cover;
 background-position: center;
}

slide:nth-child(3){
  left: 100%;
 animation-delay: 14s;
 background-image: url("Horsham-3.jpg");
 background-size: cover;
 background-position: center;
}

slide:nth-child(4){
 left: 100%;
 animation-delay: 21.5s;
 background-image: url("Horsham-2.jpg");
 background-size: cover;
 background-position: center;
}

slide p {
 font-family: Comfortaa;
 font-size: 70px;
 text-align: center;
 display: inline-block;
 width: 100%;
 margin-top: 340px;
 color: #fff;
}

@keyframes slide {
 0% { left: 100%; width: 100%; }
 5% { left: 0%; }
 25% { left: 0%; }
 30% { left: -100%; width: 100%; }
 30.0001% { left: -100%; width: 0%; }
 100% { left: 100%; width: 0%; }
}

/* End Slideshow */


/*overslide*/

#overslide {
  float: left;
  width: 700px;
  opacity: 0.8;
  background-color: none;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: #333;
  text-align: left;
  padding: 10px 0 0 20px;
  font-size: 40px;
  height: 590px;
}



@media only screen and (min-device-width: 1350px) {
      .slideshow #overslide {
        display: block;
      }
    }

 @media only screen and (max-device-width: 1351px) {
      .slideshow #overslide {
        display: none;
      }
    }
